// Bootstrap overrides

// Fonts
@import url("http://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");
$font-family-sans-serif: 'Raleway', Helvetica, sans-serif;

// Colors
$link-color: #8cd1a8;

$theme-colors: (
  "primary": #8abfd1
);

// Buttons
$btn-font-weight: bold;
$btn-primary-color: #fff;

