@import "custom";

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


// Basic global styling
body {
  background-color: $gray-800;
}

code {
  background-color: $gray-200;
}

p,
li {
  font-size: 0.95rem;
}

a {
  transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
  border-bottom: dotted 1px;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

// .border-underline {
//   &::after {    
//     content: '';
//     display: block;
//     height: 2px;
//     margin: .75em auto 0;
//     position: relative;
//     width: 10em;
//     border-bottom: 2px dotted $gray-400;
//   }
// }

.container {
  img {
    max-width: 100%;
    height: auto;
  }
}

.nav-main {
  border-top: 2px dotted $gray-400;
  border-bottom: 2px dotted $gray-400;
}
